$containerWidth: 1280;
$containerYPadding: 20;
$containerXPadding: 30;

$bodyBackgroundColor: #F5F5F5;
$primaryColor: #1088F2;
$primaryLightColor: #0DC7F2;
$secondaryColor: #2E2E2E;
$secondaryLightColor: #9F9F9F;

%font{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}