$containerWidth: 1280;
$containerYPadding: 20;
$containerXPadding: 30;

$bodyBackgroundColor: #f5f5f5;
$primaryColor: #1088f2;
$primaryLightColor: #0dc7f2;
$secondaryColor: #2e2e2e;
$secondaryLightColor: #9f9f9f;

%font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
