@import './reset';
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  @extend %font;
  height: 100%;
  background-color: $bodyBackgroundColor;
  overflow-x: hidden;
  min-width: 320px;
  &.locked{
    overflow: hidden;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header{
  flex: 1 0 auto;
}
.main{
  flex: 0 0 auto;
}
.container {
  width: 100%;
  max-width: $containerWidth + px;
  margin: 0 auto;
  padding: $containerYPadding + px $containerXPadding + px;
  @media(max-width: 576px){
    padding: 20px 10px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: $secondaryColor;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  color: $secondaryColor;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: $secondaryColor;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  color: $secondaryColor;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: $secondaryColor;
}

.css-11xxhcr-MuiResponsiveChart-container{
  width: 100%!important;
  height: 100%!important;
}