@import "@/styles/vars";

.habit-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  &__button{
    padding: 0;
    background-color: transparent;
    &-icon{
      width: 50px;
      height: 50px;
      background-color: transparent;
      transition: all .3s ease;
      transform: translateY(5px);
      svg{
        font-size: 21px;
      }
      &:hover{
        transform: scale(1.02);
      }
    }
  }
  &__title{
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
    padding: 12px;
    font-size: 15px;
    font-weight: 550;
    padding-left: 22px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      border-radius: 8px;
      background: linear-gradient(0turn, $primaryLightColor, $primaryColor);
    }
  }
  @media(max-width: 840px){
    gap: 3px;
    &__title{
      font-size: 13px;
      &::after{
        width: 3px;
      }
    }
    &__button{
      padding: 0;
      background-color: transparent;
      &-icon{
        width: 40px;
        height: 40px;
        transform: translateY(5px);
        svg{
          font-size: 20px;
        }
      }
    }
  }
  @media(max-width: 420px){
    gap: 1px
  }
}