.header {
  &__inner {
    background-color: #fff;
    padding: 14px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    &-name {
      font-size: 16px;
    }
    &-avatar {
      width: 38px;
      height: 38px;
    }
  }
  @media (max-width: 690px) {
    &__inner {
      padding: 10px 14px;
      border-radius: 8px;
    }
    &__profile {
      flex-direction: column;
      gap: 4px;
      &-avatar {
        order: 1;
        width: 30px;
        height: 30px;
      }
      &-name {
        order: 2;
      }
    }
  }
  @media (max-width: 576px) {
    &__profile {
      flex-direction: row;
      gap: 8px;
      &-avatar {
        order: 2;
      }
      &-name {
        order: 1;
      }
    }
  }
}
