.week{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px;
  background-color: #fff;
  border-radius: 12px;
  gap: 20px;
  &__prev, &__next{
    width: 30px;
    height: 30px;
  }
  &__list{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    &-day{
      opacity: 0.7;
    }
    &-date{
      font-size: 28px;
    }
  }
  @media(max-width: 1100px){
    padding: 15px 10px;
    gap: 10px;
    &__prev, &__next{
      width: 20px;
      height: 20px;
    }
    &__list{
      gap: 20px;
    }
    &__item{
      gap: 1px;
      &-day{
        font-size: 15px;
      }
      &-date{
        font-size: 22px;
      }
    }
  }
  @media(max-width: 840px){
    &__list{
      gap: 30px;
    }
    &__item{
      gap: 1px;
      &-day{
        font-size: 14px;
      }
      &-date{
        font-size: 20px;
      }
    }
  }
  @media(max-width: 592px){
    gap: 0;
    &__prev, &__next{
      width: 14px;
      height: 14px;
    }
    &__list{
      gap: 0;
    }
    &__item{
      margin-left: -5px;
      gap: 0;
      &-day{
        font-size: 12px;
      }
      &-date{
        font-size: 18px;
      }
    }
  }
}