.chart{
  width: 610px;
  @media(max-width: 1096px){
    align-self: center;
  }
  @media(max-width: 576px){
    width: 550px;
  }
  @media(max-width: 480px){
    width: 500px;
  }
  @media(max-width: 440px){
    width: 450px;
  }
  @media(max-width: 390px){
    width: 400px;
  }
  @media(max-width: 350px){
    width: 370px;
  }
}