.habits{
  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
  }
  &__data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 60%;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
  @media(max-width: 1100px){
    &__inner{
      gap: 35px;
    }
  }
  @media(max-width: 840px){
    &__data{
      width: 100%;
    }
    &__info{
      display: none;
    }
  }
}